body {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.55;
  background-color: hsla(23, 33%, 86%, 95%);

  background-image: linear-gradient(126deg, #e7dbda, #c8a592);
  color: #0e0e0e;
}

.kompas {
  width: 100px;
  height: auto;
  object-fit: contain;
  vertical-align: middle;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #527f80;
  text-align: center;
  margin-block: 1em;
}

h2 {
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 8px;
  padding-bottom: 0.25em;
  letter-spacing: 1px;
}

P {
  margin: 0;
}

.container {
  border-radius: 6px;

  width: 100%;
  height: auto;
  padding: 0.5em;
}

.category-result-pdf {
  border-radius: 6px;
  padding: 0.25em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #0005;
  text-align: center;
  letter-spacing: 1px;
  background-color: #f0eef0;
  width: 100%;
  page-break-inside: avoid;
}

.category-result-pdf div {
  border-radius: 6px;
  background-color: rgb(240, 240, 240, 0.85);
}

.category-result-pdf p {
  border-top: 1px solid #9bbfbf;
  padding-block: 0.35em;
}

ol {
  text-align: left;
  padding: 0.25em;
  border: 1px solid #3b5359;
  border-radius: 4px;
  margin-inline: auto;
}

ol li {
  margin-left: 2em;
}
