 *,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  
  /* --green-dark: #1A3530;
  --green-light: #4A6765;
  --green-light-2: #56756F;
  --beige: #ABAC9E;
  --pink-light: #E8DAD1;
  --pink-dark: #CFA79D;
  --wine: #59131B; */
  
  --yellow: hsl(49, 96%, 58%);
  --yellow-light: hsl(50, 73%, 76%);
  --beige: hsl(64, 8%, 65%);
  
  --green-dark: hsl(169, 34%, 15%);
  --green-light: hsl(176, 16%, 35%);
  --green-light-2: hsl(168, 15%, 40%);
  
  --pink-light: hsl(23, 33%, 86%);
  --clover: hsl(40, 44%, 80%);
  --pink-dark: hsl(12, 34%, 71%);
  --wine: hsl(353, 65%, 21%);
  
  --bkg: linear-gradient(126deg, #e7d9d0, #e2d3b6 );  
  --dark: hsl(2, 22%, 71%);
 --bkg-2: linear-gradient(120deg, var(--pink-light), var(--clover));
  --text: rgb(14, 14, 14);
  --accent: #3a5a5b;
  --accent-100: hsl(182, 22%, 29%);
  --accent-200: hsla(181, 22%, 41% , 0.95);
  --accent-300: hsla(181, 22%, 68% , 0.8);
  /* --accent2: hsl(224, 68%, 91%); */
   /* Step -2: 8.96px → 11.26px */
   --step--2: clamp(0.56rem, calc(0.49rem + 0.33vw), 0.70rem);

   /* Step -1: 11.20px → 15.00px */
   --step--1: clamp(0.70rem, calc(0.59rem + 0.54vw), 0.94rem);
 
   /* Step 0: 14.00px → 20.00px */
   --step-0: clamp(0.88rem, calc(0.70rem + 0.85vw), 1.25rem);
 
   /* Step 1: 17.50px → 26.66px */
   --step-1: clamp(1.09rem, calc(0.83rem + 1.30vw), 1.67rem);
 
   /* Step 2: 21.88px → 35.54px */
   --step-2: clamp(1.37rem, calc(0.98rem + 1.94vw), 2.22rem);
 
   /* Step 3: 27.34px → 47.37px */
   --step-3: clamp(1.71rem, calc(1.14rem + 2.85vw), 2.96rem);
 
   /* Step 4: 34.18px → 63.15px */
   --step-4: clamp(2.14rem, calc(1.31rem + 4.12vw), 3.95rem);
 
   /* Step 5: 42.72px → 84.17px */
   --step-5: clamp(2.67rem, calc(1.49rem + 5.89vw), 5.26rem);
 
   /* Step 6: 53.41px → 112.20px */
   --step-6: clamp(3.34rem, calc(1.67rem + 8.35vw), 7.01rem);

     /* Space 3xs: 4px → 5px */
  --space-3xs: clamp(0.25rem, calc(0.22rem + 0.14vw), 0.31rem);

  /* Space 2xs: 7px → 10px */
  --space-2xs: clamp(0.44rem, calc(0.35rem + 0.43vw), 0.63rem);

  /* Space xs: 11px → 15px */
  --space-xs: clamp(0.69rem, calc(0.57rem + 0.57vw), 0.94rem);

  /* Space s: 14px → 20px */
  --space-s: clamp(0.88rem, calc(0.70rem + 0.85vw), 1.25rem);

  /* Space m: 21px → 30px */
  --space-m: clamp(1.31rem, calc(1.06rem + 1.28vw), 1.88rem);

  /* Space l: 28px → 40px */
  --space-l: clamp(1.75rem, calc(1.41rem + 1.70vw), 2.50rem);

  /* Space xl: 42px → 60px */
  --space-xl: clamp(2.63rem, calc(2.11rem + 2.56vw), 3.75rem);

  /* Space 2xl: 56px → 80px */
  --space-2xl: clamp(3.50rem, calc(2.82rem + 3.41vw), 5.00rem);

  /* Space 3xl: 84px → 120px */
  --space-3xl: clamp(5.25rem, calc(4.23rem + 5.11vw), 7.50rem);

  --grid-max-width: 84.38rem;
  --grid-gutter: var(--space-xs-m, clamp(0.69rem, calc(0.32rem + 1.84vw), 1.88rem));
  --grid-columns: 12;
 }



  /* linear-gradient(120deg, hsla(30, 43%, 59%,0.2) ,transparent) */
html {
  scroll-behavior: smooth;
  font-size: 66.8%;
}

body {
  font-family: 'EB Garamond', serif;
  font-weight: 500;

  font-size: var(--step-1);
  line-height: 1.55;
  background-color: hsla(23, 33%, 86%,95%);
  background-image: var(--bkg)
}
/* background-image:  linear-gradient(-45deg, transparent 49%, hsla(186, 30%, 36%,0.2) 49% 51%, transparent 51%); */


nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding-block: var(--step--2);
  transition: background-color 800ms cubic-bezier(.62,.34,.04,.7);
  /* margin-bottom: 4em; */
}

nav.active {
  background-color: var(--dark);
}

img {
  max-width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    color: var(--accent);
    margin-inline: var(--step--2);
    width: clamp(4rem, 10vw + 1rem , 9rem);
    display: grid;
    place-items: center;
}

.clover {
  text-align: center;
    margin-block: var(--space-2xs);
}

.clover img {
width: var(--step-1);
height: var(--step-1);
}


.logo-link:focus-visible,
.nav-link:focus-visible{
  outline: 4px solid var(--accent);
  outline-offset: 0.2em;
  border-radius: 0.5rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--step-1);
  transform: translate3d(0, -200%, 0);
  position: absolute;
  z-index: -1;
  top: 3rem;
  left: 0;
  right: 0;
  background-color: var(--dark);
  padding: var(--step-1);
  border-bottom: 3px solid var(--accent);
  text-align: center;

}

.nav-links.activated {
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.84);
}


.btn {
  font-size: var(--step-1);
  color: var(--text);
  text-decoration: none;
  padding: var(--step--2) var(--step-1);
  cursor: pointer;
  border-radius: 50vw;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.btn--accent {
 background-color: var(--accent);
  padding: var(--step--2) 2rem;
  color: var(--yellow-light);

}

.btn--menu {
  color: var(--accent);
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.84);

}

li[role="none"],
.nav-link {
  width: 100%;
  display: block;
  font-size: var(--step-0);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn--menu[aria-expanded="true"] {
  transform: rotate(180deg);
}
.btn--menu[aria-expanded="true"] + .nav-links {
  transform: translate3d(0,0,0);
}

.nav-link[aria-current="page"] {
  text-decoration: underline  var(--accent) 0.15rem;
  text-underline-offset: 0.35rem;
  text-decoration-thickness: 1px;
}
.dropdown {
  position: relative;
}

.dropdown-toggle {
all: unset;


}

.dropdown-menu {
  /* display: none; */
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: var(--dark);
  padding: var(--step-1);
  list-style: none;
  border-bottom: 3px solid var(--accent);
  text-align: left;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: all 0.3s ease-out, visibility 0s linear 0.3s;
}

.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
  /* display: block; */
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition-delay: 0s;
}


.dropdown-item {
  display: block;
  width: 100%;
 
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-arrow {
  fill: var(--accent)
}

@media (max-width: 767px) {


  .dropdown-menu {
    position: absolute;
    width: 100%;
    border-bottom: none;
    
  }

  .dropdown-item {
    padding-left: 1.5rem;
  }
}



@media (min-width: 768px) {
  .btn--menu {
    display: none;
  }

  .nav-links {
    position: static;
    transform: translate3d(0,0,0);
    flex-direction: row;
    border: none;
    z-index: 0;
    padding: 0;
    inset: 0;
    background-color: transparent;
  }

  li[role="none"], .nav-link {
    width: initial;
  }
}



main {
  /* display: grid;
  width: 100%; */
  gap: var(--grid-gutter);
  /* position: relative;
  top: -10vh; */
}

section {
  max-width: var(--grid-max-width);
  /* padding-inline: var(--grid-gutter); */
  margin-inline: auto;
  min-height: 100vh;
  min-height: 100dvh;
}

h1,h2,h3 {
  font-family: 'Libre Franklin', sans-serif;
}





h1 {
  font-size: var(--step-6);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

h2 {
  font-size: var(--step-4);

}

h3 {

  font-size: var(--step-2);
}
.h2 {
  font-weight: 400;

  line-height: 1.1;
  color: var(--accent);
}

.h3 {
  line-height: 1.1;
  color: var(--accent);
}

.subheading {
  color: var(--text);
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

header {
  min-height: 100vh;
  min-height: 100dvh;
  

  /* width: 100%; */
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  margin-top: 4em;

}

footer {
  width: 100%;
  margin-top: var(--space-xl);
  margin-inline: auto;
  /* padding-inline: var(--space-m); */
  border-top: 1px solid #2226;

  
}

.footer-certificat {
display: grid;
place-items: center;


}
.footer-certificat img{
  width: 100%;
 max-width: 500px;
}


.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.footer-column {
  padding: var(--space-m);
  flex: 50%;
  border-radius: 6px;
  background-color: rgb(0,0,0,0.1);
  text-align: justify;

}

@media (max-width: 768px) {
.footer-wrapper {
  flex-direction: column;
}
}

.codette {
  padding-block: var(--space-s);
  text-align: center;
  border-top: 1px solid #2226;
  font-size: var(--step--3);
  letter-spacing: 1px;
}



.header__img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  margin-inline: max((100% - 90rem) / 2, 1rem);
}

.container--sm {
  margin-inline: max((100% - 70rem) / 2, 2rem);
}

.rise {
  opacity: 0;
  animation: rise 0.8s ease-in-out forwards;
}

.rise.subheading {
  animation: rise 1.2s ease-in-out forwards 0.5s;
}

@keyframes rise {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

 .about .image-container {
  display: flex;
}




/* coaching options section  */

.coaching-trajecten {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
 
}



.coaching {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-s);
  position: relative;
  border: 1px solid #2225;
  border-radius: 6px;
  padding: var(--space-s);
  place-items: center;
  background-color: #fff5;
}



.coaching-traject .coach-content, 

.coaching-traject .coach-content p 

{
  max-width: 80ch;
  margin: 0 auto;
  text-align: justify;
  padding-block: var(--space-m);
}
.c-header-container {
  min-height: 60vh;
  min-height: 60dvh;
}

.c-header {
  margin-inline: auto;
  text-align: center;
}

.c-list {
  margin-left: 1.5em
}
.c-list li {
  line-height: 1.8;
}

.c-larger-p {
  font-size: var(--step-2);
}




.coach-content {
  padding: var(--space-m);
    text-align: justify;
}

.coach-image {
  border: 1px solid #2228;
    border-radius: 6px;
    padding: var(--space-2xs);
    box-shadow: 1px 3px 7px 0px #2225;
    background-image: var(--bkg);
}
.image-wrapper {
  border: 1px solid #2228;
    border-radius: 6px;
    /* padding: var(--space-2xs); */
    /* box-shadow: 1px 3px 7px 0px #2225; */
}

.image-wrapper img {
  border-radius: 6px;
}

@media (min-width: 768px) {
  .coaching-trajecten .coaching {
    grid-template-columns: 1fr 1fr;
  }
}

.short-text {
  margin-block: var(--space-m);
  transition: transform 0.5s ease;
}

.full-text {
  position: absolute;
inset: 0;
  background-color: hsla(0, 0%, 96%);
  border-radius: 6px;
  text-align: justify;
  padding: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.full-text-content {
  overflow-y: auto;
  flex-grow: 1;
}

.full-text-content p {
  max-width: 36ch;
}

.full-text::-webkit-scrollbar {
  width: 6px;
}



.full-text::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}


.full-text p {
  margin-bottom: 1rem;
}

/* .coach-content.expanded .full-text {
  max-height: 100%;
  opacity: 1;
  pointer-events: auto;
} */

.review-container,
.faq-container {
  margin-block: var(--space-xl);
  /* border: 1px solid rgb(0,0,0,0.9); */
}

.review-container h2 {
  text-align: center;
  padding: var(--space-m);
}

.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(30ch,40ch), 1fr));
  /* grid-template-rows: repeat(auto-fit,min(360px,100%)); */
 gap: var(--space-m);
 margin-block: var(--space-l);
}

.review {
   display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  /* gap: var(--space-s); */
  position: relative;
  border: 1px solid #2225;
  border-radius: 6px;
  padding: var(--space-s);
  width: 100%;
  background-color: #fff4;
  /* max-width: calc(250px - var(--space-s)); */
  height: 100%;
}

.review-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.review-content h3 {
  font-size: var(--step-3);
  text-align: center  ;
}
.review-quote {
  
  flex-grow: 1;
  height: 100%;
}

.review-content hr {
  margin-block: var(--space-m);
  width: 100%;
  flex: 1;
}

.review-content .subtext {
  font-style: italic;
  font-size: var(--step-2);
  text-align: justify;
  padding-inline: var(--space-m);
  /* flex: 1; */
}

.review .btn {
  width: 75%;
  /* margin: 0 auto; */
  justify-self: end;
  align-self: center;
}

button[data-read-more] {
  flex: 1;
}


.review-content.expanded .full-text {
  max-height: 100%;
  opacity: 1;
  pointer-events: auto;
}

.read-more-btn,
.close-btn {
  margin: 1rem auto;
}


/* end of coaching section  */






#stars {
  text-align: center;
}

/* .card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem 3.5rem;
}

.card {
  flex: 1 1 100%;
  display: grid;
  place-items: center;
  gap: var(--step-1);
  padding: 2.5rem var(--step-1) var(--step-1);
  border: 5px solid var(--accent);
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .card {
    flex: 1 1 28%;
  }
} */



.fade-up {
  opacity: 0;
  position: relative;
  transform: translateY(5rem);
  transition: transform 1s cubic-bezier(0.64, 0.04, 0.26, 0.87),
    opacity 0.8s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

.fade-up.faded {
  opacity: 1;
  transform: translateY(0);
}

.card__image {
  width: clamp(4rem, 10vw, 8rem);
}

header .svg-down {
  bottom: 0;
  left: 50%;
  z-index: 5;
  /* margin-left: -96px; */
  margin-bottom: -7px;
  color: #fff;
  justify-self: center;
  align-self: flex-end;
}
header .arrow-down {
  position: absolute;
  width: 70px;
  height: 50px;
  bottom: 0;
  /* left: 50%; */
  /* transform: translate(-50%, 0); */
  z-index: 10;
 
}

@media (max-width: 992px) {

  .about {
      display: block;
      padding-top: 50px;
  }

}




.hero,
.hero-relatie,
.hero-eigen,
.hero-werk,
.hero-kunst { 
width: 100%;
max-width: 1246px;
/* height: 100%; */
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: start;

background-image: linear-gradient(to bottom , 
transparent 18%,
hsla(181, 22%, 61% , 0.6) 18%,
hsla(181, 22%, 61% , 0.3) 22%,
hsla(181, 22%, 61% , 0.9) 60%,
transparent 60%,

 transparent 80%);
margin-top: 4em ;
padding: var(--space-l);
/* max-height: 250px; */
/* border-top: 1px solid hsl(181, 22%, 41%); */
/* max-height: 500px; */
}


.hero-relatie,
.hero-eigen,
.hero-werk,
.hero-kunst{
  /* height: 60%; */
  /* width: 100%; */
  max-height: 520px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 25%;
  background-attachment: fixed;
}

  .hero-relatie {
  background-position: 50% top;
  background-image: url(../img/couple.jpg);
    
  }
  .hero-eigen {
    background-image: url(../img/eigengelukHero.jpg);
  background-position: center bottom;

    
  }
  .hero-werk {
    background-image: url(../img/werkgelukHero.jpg);
  background-position: center 50%;

    
  }
  .hero-kunst {
    background-image: url(../img/close-up-portrait-kissing-couple-spending-morning-together.jpg);
  
  }
  .header-container,.hero-h2,.profile-picture {
    /* margin-top: var(--step-5); */
    padding: var(--space-m);
    /* width: 100%; */
    max-height: 300px;
    border: 1px solid var(--accent-200);
  border-radius: 6px;

    background-color: rgb(225,225,225,0.2);
    backdrop-filter: blur(8px) saturate(65%);
    -webkit-backdrop-filter: blur(3px) saturate(84%);
}

.hero-h2 {
  padding: var(--space-s);
  color: hsla(2, 22%,95%);
  filter: drop-shadow(0px 1px 1px hsl(2, 20%, 26%));

  

}

.hero-motto {
  /* flex: 50%; */
  font-size: var(--step-2);
  padding-block: var(--space-l);
  position: relative;
  align-self: center;

}

.header-container h1 {
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  background-clip: text;
  color: hsla(2, 22%,90%,0.90);

  filter: drop-shadow(0px 1px 2px hsl(2, 20%, 26%));
  

}

.header-container h1,
.header-container h2 {
  text-shadow: 1px 2px 2px var(--accent2);
  letter-spacing: 1px;
  line-height: 0.85;
}
/* #meer {
  text-shadow: 1px 1px 0 var(--accent-300),
  1px -1px 0 var(--accent-300),
   -1px 1px 0 var(--accent-300),
    -1px -1px 0 var(--accent-300),
     1px 0px 0 var(--accent-300),
      0px 1px 0 var(--accent-300),
       -1px 0px 0 var(--accent-300),
        0px -1px 0 var(--accent-300);
} */

#geluk {
    display: block;
    /* color: #0009; */
    color: var(--accent-100);
    letter-spacing: 1px;
    font-size: calc(var(--step-5) + 0.6rem);
    text-shadow: 1px 1px 0 var(--accent-300),
   1px -1px 0 var(--accent-300),
    -1px 1px 0 var(--accent-300),
     -1px -1px 0 var(--accent-300),
      1px 0px 0 var(--accent-300),
       0px 1px 0 var(--accent-300),
        -1px 0px 0 var(--accent-300),
         0px -1px 0 var(--accent-300);
    filter: drop-shadow(0px 2px 2px hsl(2, 20%, 26%));
    /* position: absolute; */
    /* top: 1em; */
    /* color: transparent; */
    /* mix-blend-mode: difference; */
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
}


.hero-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: start;


  /* position: relative; */
  /* margin-block: 4em; */
  padding-block: var(--space-m);
}

.hero-image-container .profile-picture {
  width: min(33vw, 250px);
  height: min(33vw, 250px);
  /* height: auto; */
  /* height: min(33vw, 250px); */
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.hero-image-container .profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  filter: drop-shadow(2px 4px 6px #2225);
}

.hero-image-container .profile-picture h3
 {
  font-family: 'EB Garamond', serif;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}   

.hero-image-container .profile-picture p {

}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 0.5em;
}

@media (max-width: 1023px) {
  .hero {
    flex-wrap: nowrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2em;
  }

  .header-container {
      /* order: 1; */
      position: relative;
  }

  /* #geluk {
      position: static;
      display: inline;
      margin-left: 0.3em;
  } */

  .hero-motto {
   
      align-self: center;
      justify-self: end;
  }

  .hero-image-container {
      /* order: 3; */
      /* margin-top: 2em; */
  align-self: center;

  }

  .hero-image-container .profile-picture {
    position: static;
    width: min(50vw, 200px);
    height: min(50vw, 200px);
    
  }
}


.text-container {
   /* margin: 20px 0; */
} 

.text-container h3 {
  /* font-size: 36px; */
  margin-bottom: 0.33em;
}

.text-container p {
  /* font-size: 18px; */
  padding-block: 0.5em;
  max-width: 36ch;
  text-align: justify;
}

.cta {
  width: 100%;
  /* height: 100%; */
  border: 1px solid #000;
  /* position: absolute; */
  /* bottom: 1rem; */
  margin: 3em auto;
}

.cta-buttons {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  /* height: 85%; */
  margin: 0 0.5em;
  /* position: relative; */
}

.cta-buttons a {
  padding: var(--step-0);
  margin: 0.25em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  max-width: 50px;
  background-color: #fff;
  border: 1px solid #5558;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 50vw;
  font-size: 1.75rem;
  color: #444;
  text-decoration: none;
}

#whatsapp {
  background-color: hsl(120, 80%, 45%);
  color: #fafafa;
}

.cta-buttons a:hover {
  background-color: #ddd;
}

.cta-buttons a i {
  transition: transform 0.2s;
}

.cta-buttons a:hover i {
  transform: scale(1.2);
}

@media (max-width: 768px) {
 

   .hero-image-container .profile-picture {
    width: min(60vw, 200px);
    height: min(60vw, 200px);
  }

  .hero-relatie,
.hero-eigen,
.hero-werk,
.hero-kunst {
  background-size: contain;
  background-position: center top;
  /* .text-container h3 {
    font-size: 24px;
  }

  .text-container p {
    font-size: 16px;
    margin-bottom: 20px;
  } */
}
  .cta-buttons a {
    height: 40px;
    max-width: 40px;
    padding: 0.5em;
    font-size: 1.1rem;
  } 
}

.overmij {
  display: grid;
  place-items: center;
  margin: 1em auto;
    border: 1px solid #9998;
    border-radius: 6px;
    padding-inline: var(--space-m);
    background-color: #eee9;
    box-shadow: 1px 3px 13px -2px #5556;
}

/* over sabine section  */
.overmij > * {
  margin-block: var(--space-l);
  /* margin-inline: auto; */
  
}

.overmij-heading {
  margin: 0 auto;
  text-align: center;
}

.overmij .p-1 > * {
padding-inline: var(--space-m);
}

.overmij-img-wrap {
  /* width: 100%; */
  max-width: 300px;
  float: left;
  /* border-radius: 50vw;
  border: 1px solid; */
}

.overmij-img-wrap img {
  object-fit: contain;
  filter: drop-shadow(2px 4px 6px #2225);

  

}

.overmij p {
  margin-block: var(--space-m);
  margin-inline: auto;
  max-width: 80ch;
  text-align: justify;
}


/* end of sabine section  */

 /* faq-section  */

.faq-section {
  max-width: 700px;
  margin: 1em auto;
  border: 1px solid #9998;
  border-radius: 6px;
  padding-inline: var(--space-m);
  background-color: #eee9;
  box-shadow: 1px 3px 13px -2px #5556;
}
.faq-heading {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  padding-bottom: var(--space-m);
}

.faq-items {
  display: flex;
  flex-direction: column;
}

.faq-item {
  margin-bottom: 20px;
  border: 2px solid #333;
  border-radius: 5px;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.faq-question:focus {
  outline: none;
}

.faq-answer {
  height: 0;
  overflow: hidden;
  padding: 0 20px;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #f9f9f9;
  transition: height 0.3s ease;
}

.arrow {
  width: 20px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  margin-right: 10px;
}

.faq-item.active .faq-answer {
  height: auto;
  padding: 10px 20px;
}

.cta-section {
  max-width: 60ch;
  margin: 1em auto;
  text-align: justify;
}

.cta-list,
.c-list {
  list-style-image: url('../svg/clover.svg');
  
  margin-block: 0.5em;
  padding-inline: 1.5em;
}


.cta-list li {
  margin-bottom: 10px;
}

.cta-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cta-button-container p {
  margin-right: 10px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #3E8E41;
}
