* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
        ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
        sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    color: #2a2a2a;
    background: linear-gradient(180deg, rgba(224,233,253,1) 0%, rgba(233,236,241,1) 90%);
  box-shadow: 0 0 0 10px rgba(255, 255, 255,.4); #ebeced;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: #4a5361;
    margin: 0;
    padding: 0;
}

header {
    
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 260px;
    z-index: 888;
    width: 100%;
    height: 4em;
    background-color: #fff;
    
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
}

header a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #4a5361;
    height: 100%;
    text-decoration: none;
    
    
    justify-content: center;
    
    ;
    align-items: center;
    padding: 0 20px;
}

header a i {
    font-size: 16px;
}

header a:hover,
header a:active {
    color: #606c7e;
}

header .space-between {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

header.full {
    padding-left: 0;
}

aside {
    position: fixed;
    z-index: 889;
    height: 100%;
    
    /* width: 260px; */
    width: fit-content;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    background-color: #26292f;
}

aside h1 {
    
    display: inline-flex;
    background-color: #5472bd;
    width: 100%;
    height: 55px;
    color: #fff;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    
    ;
    align-items: center;
    padding: 0 20px;
    
    
    justify-content: center;
}

aside a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #afb1b5;
    padding: 1em 0.5em;
    border: 1px solid #eee5;
    margin: 1px;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

aside a i {
    width: 40px;
    margin-inline: 0.6em 0.4em;
    color: #fafafa;
}

aside a:hover, aside a.selected {
    background-color: #3d22aa;
    color: #fff;
}

aside.closed {

     display: none;
}

main {
    padding: 30px;
    padding-left: 13em;
    padding-top: 85px;
}

main.full {
    padding-left: 30px;
    padding-right: 30px;
}

main h2 {
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdddf;
}

main .content-block {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(136,148,171,.2),0 24px 20px -24px rgba(71,82,107,.1);
    margin-top: 25px;
    padding: 15px;
}

main .dashboard {
    
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 40px;
}

main .dashboard .stat {
    width: 24%;
    
    display: flex;
}

main .dashboard .stat i {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 15px;
    
    ;
    align-items: center;
    font-size: 40px;
    width: 27%;
}

main .dashboard .stat h3 {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 15px 0 15px;
}

main .dashboard .stat p {
    margin: 0;
    padding: 15px;
    font-size: 26px;
    font-weight: 700;
}

main .table {
    padding: 0 10px;
}

main .table table {
    width: 100%;
    border-collapse: collapse;
}

main .table table thead td {
    font-weight: 600;
    padding: 15px 0;
}

main .table table thead tr {
    border-bottom: 1px solid #f0f1f2;
}

main .table table tbody td {
    padding: 5px 0;
}

main .table table tbody td a {
    text-decoration: none;
    color: #0060ba;
    border-bottom: 1px dotted;
    margin: 0 5px;
}

main .table table tbody td a:hover {
    color: #003260;
}

main .table table tbody .img {
    width: 50px;
}

main .table table .details {
    cursor: pointer;
}

main .table table .details:hover {
    background-color: #dbdddf;
}

main .form {
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: min(100% , 900px);
    padding: 20px;
}

main .form input, main .form textarea, main .form select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 25px;
    /* border: 0; */
    border: 1px solid #dedfe1;
    background-color: hsl(36deg 83.33% 92.94% / 31%);
}

main .form input:hover,
main .form input:active,
main .form textarea:hover,
main .form textarea:active,
main .form select:hover,
main .form select:active {
    border-bottom: 1px solid #b5b9bd;
}

main .form textarea {
    height: 200px;
}

main .form input[type="checkbox"] {
    width: auto;
    margin: 15px 0 25px 2px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

main .form input[type="submit"] {
    background: #4a79b4;
    border: 0;
    color: #ffffff;
    width: 50%;
    padding: 12px 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}

main .form input[type="submit"]:hover {
    background: #436da2;
}

main .form label {
    display: block;
    font-weight: 600;
    border-left: 3px solid #2825;
    padding: 0.25em;
    margin-bottom: 0.5em;
}

main .form div select {
    margin-bottom: 0;
}

main .form button {
    background-color: #dedfe1;
    color: #676d72;
    border: 0;
    padding: 5px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

main .form button:hover {
    background-color: #d6d8da;
}

main .form div {
    border-radius: 6px;
    margin-bottom: 0.66em;
    border: 1px solid #2524;
    padding: 0.5em;
}

main .form .submit-btns {
    
    display: flex;
}

main .form .submit-btns input:first-child {
    margin-right: 15px;
}

main .form .submit-btns .delete {
    background-color: #b22b2b;
}

main .form .submit-btns .delete:hover {
    background-color: #9d2626;
}

main .links {
    
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    padding-top: 20px;
}

main .links a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-decoration: none;
    background: #4a79b4;
    color: #ffffff;
    padding: 12px 15px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
}

main .links a:hover {
    background: #436da2;
}

main .error {
    padding: 15px;
    margin: 0;
}

.login {
    background-color: #f8f9f9;
}

.login form {
    padding-top: 100px;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 300px;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 auto;
}

.login form input {
    border: 1px solid #c3c6c9;
    padding: 10px 10px;
    margin-bottom: 15px;
}

.login form input[type="submit"] {
    background: #606c7e;
    border: 0;
    color: #ffffff;
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.login form input[type="submit"]:hover {
    background: #555f6f;
}

@media screen and (max-width: 1000px) {
    header {
        padding-left: 0;
    }
    .responsive-hidden {
        display: none;
    }
    .responsive-width-100 {
        width: 100% !important;
    }
    .responsive-flex-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }
    main {
        padding: 70px 7px 20px 7px;
    }
    main .content-block {
        padding: 5px;
    }
    main .dashboard {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }
    main .dashboard .stat {
        width: 100%;
    }
}

.bulkOptionContainer {
    padding: 0.5em;
}

.rj-flexer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 1em;
}

.bulkOptionContainer .form-control {
    all: unset;
        display: block;
        width: 100%;
        padding: .375rem 1.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #4a62;
        /* background-clip: padding-box; */
        border: 1px solid #ced4da;
     
        border-radius: .375rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}
/* todo hallo wat kleuren
hsl(263, 45%, 23%);
 : hsl(31, 32%, 93%);

   background: url(https://flayks.com/images/grain.png) 0 0/150px auto;

     */
     
.btn {
    all: unset;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: monospace;
    text-transform: uppercase;
    padding: 0.5em 1em;
    border: 1px solid hsl(263, 45%, 23%);
    border-radius: 50vw;
    background-color: hsl(31, 32%, 93%);
    outline: 1px solid transparent;
    outline-offset: 3px;

    transform-origin: 0px;
    transform: translateY(-1px);
    transition: all 250ms 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    cursor: pointer;
}

.btn:hover,
.btn:focus-visible,
.btn:active {
    
    transform: translateY(1px);
    outline-offset: 4px;
    background-color: hsl(31, 28%, 96%);
border:2px inset hsl(263, 40%, 36%);
outline: 1px solid hsl(263, 40%, 36%)

}




.jostable {
    
        /* border: 1px springgreen; */
        box-shadow: -3px 8px 20px 1px #3335;
        border-collapse: collapse;

    }
.jostable tbody {
    vertical-align: top;
    border-color: inherit;
    border-width: 0;
}


.jostable th {
    display: table-cell;
    background: rgb(61 53 80 / 86%);
      color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
        font-weight: 100;
    padding:1em 0.5em;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
  
  .jostabel th:first-child {
    border-top-left-radius:3px;
  }
   
  .jostable th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }

  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    /* color:#666B85; */
    font-size:16px;
    font-weight:normal;
    /* text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1); */
  }
  tr:first-child {
    border-top:none;
  }
  
  tr:last-child {
    border-bottom:none;
  }
   

.jostable td {
    display: table-cell;
    word-wrap: break-word;
    max-width: fit-content;
    padding: 0.5em !important;
    text-align: justify;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    /* border: 1px solid hsl(0deg 0% 59.27%);
} */
transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

td:last-child {
    border-right: 0px;
  }


.jostable tr:nth-child(odd) {
    transition: all 150ms ease-in-out;
    background: hsl(29, 78%, 91%, 75%);
    
}

.jostable tr:nth-child(even) {
    
    background: hsl(44, 73%, 88% , 74%);
    transition: all 150ms ease-in-out;
    
}

/* .jostable td {
    background: transparent;
    transition: all 150ms ease-in-out;
    
} */

/* 
.jostable td:hover  {
   
    background: hsl(320, 90%, 90% , 74%);
    
    mix-blend-mode: multiply;
    
    
}
*/


.jostable tr:hover td
{
    
    background: hsl(44, 40%, 95% , 94%);

    /* mix-blend-mode: multiply; */

}


.rj-img-posts {
    margin: 1px;
    object-fit: cover;
    width: 8em;
    aspect-ratio: 2 / 1;
}

table {
    overflow: hidden;
}

tr:hover {
    background: hsl(44, 80%, 90% , 54%);
}

td,
th {
    position: relative;
}
td:hover::after,
th:hover::after {
    content: "";
    position: absolute;
    background: hsl(44, 80%, 90% , 54%);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

.test-result-btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1em 0 2em;
}


.test-result-btns button {
    all: unset;
    border: 1px solid #5d5d5d;
    padding: 0.5em 1em;
    border-radius: 4px;
    background-color: rgb(100 180 50 / 0.8);
    color: #fafafa;
}
.copy-link {
    text-decoration: none;
    background: hsl(152, 49%, 27%);
    text-align: center;
    color: #f0f0f0;
    padding: 0.3em 0.6em;
    border: 1px solid #222;
    margin-top: 0.25em;
    display: block;
    font-size: 12px;
    border-radius: 50vw;
    position: relative;
    cursor: pointer;
}
.rj-tooltip {
    position: absolute;
    visibility: hidden;
    width: 10ch;
    scale: 0.9;
    height: auto;
    top: 2em;
    left: 0em;
    padding: 0.3em 0.6em;
    opacity: 0.1;
    border-radius: 50vw;
    background: hsl(152, 89%, 37%);
    color: #fafafa;
    text-align: center;
    
}

.rj-tooltip-visible {
    transition: all 250ms ease-in-out;
    visibility: visible;
    opacity: 1;
    scale: 1;

}